body {
	background: #90ee90;
}

.main-contents {
	margin: 0 auto;
	height: 100%;
	width: 800px;
	text-align: center
}

.newMessage-contents {
	margin: 0 auto;
	text-align: center
}


.login-contents {
	margin-top: 20px;
	margin-left: 250px;
	margin-right: 20px;
	height: 100%;
	width: 800px;
	text-align: center
}

.setting-contents {
	margin-top: 20px;
	margin-left: 270px;
	margin-right: 20px;
	height: 100%;
	width: 800px;
	text-align: center
}

.user-contents {
  background: #ffffff;
  position: fixed;
  float: left;
  width: 200px;
  margin-left: 10px;
  border: solid 3px #000000;
}

.hello{
	margin-left: 10px
}

.search-form-area {
    display: inline-block;
    padding: 0.1em 1em;
    text-decoration: none;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;

}

.search{
	font-size: 1.2em;
	margin-bottom: 5px
}


.newMessage {
	text-decoration: none;
    display: inline-block;
    margin-left: 5px;
    padding: 0.25em 0.3em;
    background: #ffffff;
    border: solid 2px #000000;
    border-radius: 10px;
    font-weight: bold;
}

.new {
	 text-decoration: none;
}
.managementS {
    display: inline-block;
    padding: 0.25em 0.3em;
    text-decoration: none;
    background: #ffffff;
    border: solid 2px #000000;
    border-radius: 10px;
    font-weight: bold;
}
$(function() {
	$('.new').click(function() {
	  $(this).css('color', 'red');
	});
});
  .managementS {
    display: inline-block;
    padding: 0.25em 0.3em;
    text-decoration: none;
    background: #ffffff;
    border: solid 2px #000000;

}

.messages {
	width:  1000px;
    padding: 0.5em 1em;
    margin-left:20%;
    background: #ffffff;
    border: solid 3px #000000;	;
}

.subject {
  border-top : solid 2px #000000;
  border-bottom: solid 2px #000000;
  font-size: 1.8em;
  font-weight: bolder;
  text-align: center;
  margin-top: 5px;
  background: #7fffd4
  }

  .text {
	font-size: 1em;
	font-weight: bold;
}

.category {
	background: #7fffd4;
	display: inline-block;
}

.under {
  font-size: 1.5em;
  font-weight: bolder;
}


.comments{
    padding: 8px 19px;
    margin: 2em 0;
    border-top: solid 2px #000000;
}

.comment {
	border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background: #7fffd4;
	margin-top:10px;
	margin-bottom:10px
}

.message .date {
	font-weight: lighter;
	color: black;
}


.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
.logout {
	color: red;
	margin-left: 115px
}

.homeTitle {
	text-align: center;
}

.usersManagement {
	margin: 0 auto;
	text-align: center
}


.userManagement {
	font-weight: bold;
	font-size: 1.7em
}

.userSignup {
	font-weight: bold;
	font-size: 1.7em

}

.return {
	margin-left: 20px
}

th {
	background: #c3baba;
}

td {
	background: white;
}

table {
	border: solid 2px #000000;
	margin: 0 auto;
}

.setting {
	background: pink;
}

$('.setting').on({
  mouseenter: function() {
    $(this).css('background', '#00bdb7');
  },
  mouseleave: function() {
    $(this).css('background', '#ccc');
  },
});